.footer{
    background-color: $sweet-pink;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-around;
    border-top: 3px solid $mint-green;
    a{
         color: black;
    }
}