/*@import 'core/variables';

@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
@import "core/reset";
@import 'layout/header';

.card {
  border: 2px solid black;
  display: inline-block;
  padding: 15px;
  width: 300px;
  height: 300px;
  text-align: center;
  &--img {
    width: 200px;
    height: 200px;
    background-image: url(../images/alcoholic-drinks.png);
  }

  .hidden {
    display: none;
  }
}

.close {
  border: 2px solid black;
  width: fit-content;
  padding: 2px 4px;
  margin-left: auto;
}

.fav {
  background-image: url(../images/hearts.jpg);
  background-position: center;
  background-size: cover;
  color: purple;
  font-weight: bold;
  text-transform: uppercase;
}

.aside {
  .ul {
    .mini {
      background-image: none;
      width: 125px;
      height: 125px;
      font-weight: normal;
      text-transform: none;
      padding: 0px;
      text-align: center;
      img {
        width: 50px;
        height: 50px;
        background-image: url(../images/alcoholic-drinks.png);
      }
      .hidden {
        display:block;
      }
    }
  }
}
