/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
@import "core/reset";
@import 'core/variables';
@import "layout/header";

.section {
  display: flex;
  gap: 5px;
  justify-content: center; //No sé si sirve de algo
  @media screen and (width >= 768px) {
    gap: 20px;
  }
}
.result {
  width: fit-content;
}
.card {
  border: 2px solid black;
  display: inline-block;
  padding: 15px;
  width: 200px;
  height: 200px;
  text-align: center;
  cursor: pointer;
  @media screen and (width >= 768px) {
    padding: 15px;
    width: 300px;
    height: 300px;
  }
  &--img {
    width: 100px;
    height: 100px;
    background-image: url(../images/alcoholic-drinks.png);
    @media screen and (width >= 768px) {
        width: 200px;
        height: 200px;
      }
  }

  .hidden {
    display: none;
  }
}

.close {
  border: 2px solid black;
  width: fit-content;
  padding: 2px 4px;
  margin-left: auto;
  cursor: pointer;
}

.fav {
  background-image: url(../images/hearts.jpg);
  background-position: center;
  background-size: cover;
  color: purple;
  font-weight: bold;
  text-transform: uppercase;
}

.aside {
background-color: $mint-green;
height: 100vh;
  .title {

  }
  .ul {
    height: 100%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .mini {
      background-image: none;
      background-color: white;
      width: 125px;
      height: 125px;
      font-weight: normal;
      text-transform: none;
      padding: 0px;
      padding-top: 5px;
      text-align: center;
      position: relative;
      
      img {
        width: 50px;
        height: 50px;
        background-image: url(../images/alcoholic-drinks.png);
      }
      .hidden {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    
      }
    }
  }
}
