@import "core/reset";
@import "core/variables";
@import "layout/header";
@import 'layout/footer';

.main {
  padding: 5px;
  @media screen and (width >= 768px) {
    padding: 20px;
  }
}
.h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.input {
  font-size: 16px;
}
.button {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: $sweet-pink;
  cursor: pointer;
  &:hover{
    box-shadow: 4px 4px 1px 1px rgb(0 0 0 / 30%);
  }
}

.section {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  @media screen and (width >= 768px) {
    gap: 20px;
  }
}
.result {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.card {
  border: 2px solid black;
  display: inline-block;
  padding: 15px;
  width: 200px;
  height: 200px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  &:hover {
    box-shadow: 9px 9px 5px 3px rgb(0 0 0 / 48%);
  }
  @media screen and (width >= 768px) {
    padding: 15px;
    width: 300px;
    height: 300px;
    margin: 10px;
    font-size: 20px;
  }
  &--img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-image: url(../images/alcoholic-drinks.png);
    @media screen and (width >= 768px) {
      width: 200px;
      height: 200px;
    }
  }

  .hidden {
    display: none;
  }
}

.close {
  border: 1px solid $mint-green;
  background-color: $sweet-pink;
  font-weight: bold;
  width: fit-content;
  padding: 2px 4px;
  margin-left: auto;
  cursor: pointer;
}

.fav {
  background-image: url(../images/hearts.jpg);
  background-position: center;
  background-size: cover;
  color: $dark-purple;
  font-weight: bold;
  .title {
    background-color: $mint-green;
  }
  //text-transform: uppercase;
}

.aside {
  background-color: $mint-green;
  min-height: 100vh;
  height: fit-content;
  &--title {
    text-transform: uppercase;
    font-weight: bold;
    background-color: $sweet-pink;
    padding: 5px 0;
    text-align: center;
  }
  .ul {
    height: 100%;
    min-width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mini {
      .title {
        background-color: white;
        //text-align: start;
        padding-left: 2px;
      }
      overflow: hidden;
      background-image: none;
      background-color: white;
      width: 125px;
      height: 125px;
      font-weight: normal;
      text-transform: none;
      padding: 0px;
      //padding-top: 5px;
      text-align: center;
      position: relative;
      font-size: 16px;
      cursor: default;
      &:hover {
        box-shadow: 4px 4px 1px 1px rgb(0 0 0 / 30%);
      }

      img {
        width: 50px;
        height: 50px;
        background-image: url(../images/alcoholic-drinks.png);
      }
      .hidden {
        display: block;

        top: 0;
        right: 0;
      }
    }
  }
}
